*

!/.gitignore
!/README.md
!/requirements_codeshare_fetcher.txt
!/fetch_codeshares.py
!/fetch_codeshares_common_names.py
!/four_letter_names_1000_part2.txt
!/four_letter_names_1000_part2_lowercase.txt
!/codeshare_fetcher/
!/codeshare_fetcher/__init__.py
!/codeshare_fetcher/extract.py

__pycache__/
*.pyc
*.pyo
*.sqlite3
*.lock
codeshare_*_results.txt
codeshare_results*.txt
